spring:
  application:
    name: todo
  datasource:
    url: jdbc:postgresql://localhost:5433/mydb
    username: postgres
    password: sethan8r

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true